@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb); 
}

input{
    padding: 6px 12px;
    font-size: 15px;
    font-family: 'Montserrat' , sans-serif;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;

}

.container{
    display: flex;
    flex-direction: column;
    /* height: 550px; */
    width: 70%;
    align-items: center;
    border: 1px solid #333;
}

.box{
    border: 1px solid #333;
    border-radius: 15px;
    padding: 30px 20px;
    margin: 20px 0;
    width: 50%;
    box-shadow: -2px 2px 20px rgba(0 ,0 ,0,0.4 );
}
.section{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 1px solid #333;
    padding: 12px 6px;
    width: 100%;
}
.section button{
    width : 50px;
    height : 50px;
    cursor: pointer;
    color: transparent;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}
.section button.filled{
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0 ,0 ,0,0.1 );
    transition: all 0.2s ease-in-out;
}
/* .filled:hover{
    background-color: #f0f0f0;
    transform: scale(1.1);
} */
.hidden{
    display: none;
}
.guess.letters{
    padding: 8px 10px;
    width: 38%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
}
.guess.letters button{
    padding: 6px 12px;
    letter-spacing: 2px;
    font-family: 'Lato' , sans-serif;
    border: none;
    border-radius: 8px;
}
.wrong.letters{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333;
    padding: 20px 12px;
    margin: 20px 0;
}
.box_False_letters{
    border: 1px solid #333;
    display: flex;
    padding: 18px 8px;
    width: 90%;
}
.box_False_letters button{
    width: 40px;
    height: 40px;
    padding:5px;
    font-size: 15px;
    margin: 0 5px;
    border:none;
    background-color: transparent;
}
.remaining_false_letters{
    padding: 8px;
    border: 1px solid #333;
    color: red;
    font-weight: bold;
    font-family: 'Lato' , sans-serif;
}
.result_button{
    padding: 10px 20px;
    background-color: rgb(217, 228, 13);
    color: rgb(255, 0, 0);
    border: none;
    display: none;
    border-radius: 8px;
    font-weight: bold;
    font-family: 'Montserrat' , sans-serif;
    margin: 10px 0;
    opacity: 90%;
}
