@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb); 
}

input{
    padding: 6px 12px;
    font-size: 15px;
    font-family: 'Montserrat' , sans-serif;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;

}

.container{
    display: flex;
    flex-direction: column;
    /* height: 550px; */
    width: 70%;
    align-items: center;
    border: 1px solid #333;
}
.active{
    display: block;
}
.hidden{
    display: none;
}
.box{
    border: 1px solid #333;
    border-radius: 15px;
    padding: 30px 20px;
    margin: 20px 0;
    width: 50%;
    box-shadow: -2px 2px 20px rgba(0 ,0 ,0,0.4 );
}
.section{
    display: flex;
    justify-content: center;
    border: 1px solid #333;
    padding: 12px 6px;
    margin: 10px;
}
.section button{
    width:30px;
    width: 30px;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
}
.guess.letters{
    padding: 8px 10px;
    width: 38%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
}
.guess.letters button{
    padding: 6px 12px;
    letter-spacing: 2px;
    font-family: 'Lato' , sans-serif;
    border: none;
    border-radius: 8px;
}
.wrong.letters{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333;
    padding: 20px 12px;
    margin: 20px 0;
}
.box_False_letters{
    border: 1px solid #333;
    padding: 18px 10px;
    width: 80%;
}
.remaining_false_letters{
    padding: 8px;
    border: 1px solid #333;
    color: red;
    font-weight: bold;
    font-family: 'Lato' , sans-serif;
}
.next{
    padding: 10px 20px;
    background-color: rgb(20, 210, 20);
    color: blue;
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat' , sans-serif;
    margin: 10px 0;
    opacity: 40%;
}
